*{box-sizing:border-box;
    margin:0;}
   body{line-height:1.5;}
   h1{text-align:center;
        font-weight:800;
        font-size:40px;
        padding:20px 0;}
   header p{text-align:center;
            padding:0 0 15px;}
   #image{max-width:100%;
          height:auto;
          padding:auto;
          margin:auto;
          display:block}
   
   figure{background-color:#fff;
          margin:auto;
          padding:10px;
          width:97%;}
   
   figcaption{text-align:center;}
   
   .tribute-info{padding:80px 80px 50px;
                 margin:auto;
                 width:100%;
                 max-width:600px;
                 display:flex;
                 flex-flow:row wrap;
                 justify-content:center;}
   ul {display:flex;
       flex-flow:column wrap;
       gap:20px;}
   
   article{padding-top:50px}
   
   article p{padding-top:30px;}
   
   main{background-color:whitesmoke;
        padding:30px 0;
        margin:10px 5px;
        border-radius:10px;}
   .last{text-align:center;}
   .last a{color:rgba(128, 0, 128, 0.75)}
   .last a:visited{color:rgba(128, 0, 128, 0.65)}
   .last a:hover,.last a:focus{color:rgba(128, 0, 128, 0.65)}